<!-- Footer Section -->

<footer class="section footer-classic bg-default">
    <div class="container">
      <div class="row row-15">
        <div class="col-sm-6">
          <p class="rights">
            <span>DJ Fox</span><span>&nbsp;</span><span>©&nbsp;</span
            ><span class="copyright-year">2020</span><span>&nbsp;</span
            ><span>\&nbsp;</span>All Rights Reserved \ Design by
            <a href="#">Siva Reddy</a>
          </p>
        </div>
        <div class="col-sm-6">
          <div class="footer-contact">
            <a href="contact.html">
              <i class="icon novi-icon fas fa-envelope"></i>Contact Me</a
            >
          </div>
          <!-- <div class="icon novi-icon mdi mdi-email-outline"></div>Contact Me</a></div> -->
        </div>
      </div>
    </div>
  </footer>
</div>
</section>


<!-- Javascript added at the bottom -->

<script src="js/core.min.js"></script>
<script src="js/script.js"></script>

</body>
</html>
